.days {
  display: grid;
  grid-area: days;
  grid-template-rows: repeat(7, $square-size);
  grid-gap: $square-gap;

  &_odd .day:nth-child(even),
  &_odd .day:nth-child(n + 6) {
    visibility: hidden;
  }

  &_even .day:nth-child(odd) {
    visibility: hidden;
  }
}
