.description {
  display: flex;
  align-items: center;

  max-height: $square-size;

  &__start-text {
    display: block;

    margin-right: 7px;
  }

  &__end-text {
    display: block;

    margin-left: 7px;
  }
}
