.github-chart {
  @include inter-regular-font;

  $square-size: 15px;
  $square-gap: 5px;
  $week-width: calc(#{$square-size} + #{$square-gap});

  min-width: 920px;
  min-height: 165px;
  margin-inline: auto;

  color: $gray-1;

  .graph {
    display: inline-grid;
    grid-template-areas:
      "empty months"
      "days squares";
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    padding: 20px;
    margin: 20px;
  }

  @import 'error';
  @import 'months';
  @import 'days';
  @import 'square';
  @import 'squares';
  @import 'tooltip';
}
