.tooltip {
  position: absolute;
  left: 0;
  z-index: 1;

  width: max-content;
  height: max-content;
  border-radius: 3px;

  color: $white;
  background-color: $black;

  transform: translateX(calc(-50% + #{$square-size} / 2)) translateY(calc(-100% - #{$square-size} / 2));

  &__arrow {
    position: absolute;
    bottom: -8px;
    left: calc(50% - 8px);

    border-top: 8px solid $black;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

  &__content {
    display: flex;
    flex-direction: column;

    padding: 5px 9px 0 9px;

    &_shortened {
      padding-top: 8px;
      padding-bottom: 9px;
    }

    &__contributions {
      font-size: 12px;
    }

    &__timestamp {
      padding-bottom: 6px;

      font-size: 10px;

      color: $gray-2;
    }
  }
}
